body {
  background-color: #DCE6DB;
}

.map {
  overflow: hidden;
}

.map__image {
  width: 60%;
  float: right;
  background-color: #DCE6DB;
  height: 95vh;
}

.map__image path {
  fill: #EBEBEB;
  stroke: white;
  stroke-width: 2px;
  transition: fill 0.2s;
}

.map__image .is-active path {
  fill: url(#gradient-horizontal);
}

.map__list {
  float: left;
  width: 40%;
  margin-top: 50px;
}

.map__list a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
}

.map__list a.is-active {
  padding: 2px;
  fill: #EBEBEB;
  font-weight: bold;
  border-radius: 80%;
}

.map__list #tag-Grand-Est.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Nouvelle-Aquitaine.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Auvergne-Rhone-Alpes.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Bourgogne-Franche-Comte.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Bretagne.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Centre-Val-de-Loire.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Corse.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Ile-de-France.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Occitanie.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Haut-de-France.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Normandie.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Pays-de-la-Loire.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Provence-Alpes-Cote-dazur.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Guadeloupe.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Guyanne.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Martinique.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Mayotte.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

.map__list #tag-Réunion.is-active {
  fill: #EBEBEB;
  font-weight: bold;
  background-image:  linear-gradient(#45AC34,#53C3EB);
}

#gradient-horizontal {
  --color-stop-1: #45AC34;
  --color-stop-2: #53C3EB;
}

#b-Grand-Est.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Nouvelle-Aquitaine.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Auvergne-Rhone-Alpes.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Bourgogne-Franche-Comte.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Bretagne.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Centre-Val-de-Loire.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Corse.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Ile-de-France.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Occitanie.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Haut-de-France.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Normandie.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Pays-de-la-Loire.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Provence-Alpes-Cote-dazur.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Grand-Est.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Guadeloupe.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Guyanne.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Martinique.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Mayotte.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#b-Réunion.is-active {
  width: 250px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#Calque_1 {
  filter: drop-shadow( -5px 3px 0px rgba(200, 200, 200, 0.5)) drop-shadow( -10px 5px 3px rgba(0, 0, 0, 0.5));
}


/* The container */

.container {
  display: block;
  position: relative;
  margin-left: 35px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  padding: 5px 10px;
}


/* Hide the browser's default radio button */

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
  background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.container input:checked~.checkmark {
  background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


/* Show the indicator (dot/circle) when checked */

.container input:checked~.checkmark:after {
  display: block;
}


/* Style the indicator (dot/circle) */

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

#a1,
#a2,
#a3,
#a4,
#a5,
#a6,
#a7,
#a8,
#a9,
#a10,
#a11,
#a12,
#a13,
#a14,
#a15,
#a16,
#a17,
#a18 {
  display: inline;
}

#a1,
#a2,
#a3,
#a4,
#a5,
#a6,
#a7,
#a8,
#a9,
#a10,
#a11,
#a12,
#a13,
#a14,
#a15,
#a16,
#a17,
#a18 a {
  margin-left: 10px;
}

#tag-Grand-Est,
#tag-Nouvelle-Aquitaine,
#tag-Auvergne-Rhone-Alpes,
#tag-Bourgogne-Franche-Comte,
#tag-Bretagne,
#tag-Centre-Val-de-Loire,
#tag-Corse,
#tag-Ile-de-France,
#tag-Occitanie,
#tag-Haut-de-France,
#tag-Normandie,
#tag-Pays-de-la-Loire,
#tag-Provence-Alpes-Cote-dazur,
#tag-Guadeloupe,
#tag-Guyanne,
#tag-Martinique,
#tag-Mayotte,
#tag-Réunion {
  height: 15px;
  width: 15px;
  /* background-color: grey; */
  border: 3px solid white;
  float: left;
}


/* #tag-Nouvelle-Aquitaine{
height:  15px;
width: 15px;
background-color: red;
float: left;
}
#tag-Auvergne-Rhone-Alpes{
height:  15px;
width: 15px;
background-color: red;
float: left;
} */


/* Extrea */


/* .a1:hover #tag-Grand-Est{
background-color: gray;
}
.a2:hover #tag-Nouvelle-Aquitaine{
background-color: gray;
}
.a3:hover #tag-Auvergne-Rhone-Alpes{
background-color: gray;
}
.a4:hover #tag-Bourgogne-Franche-Comte{
background-color: gray;
}
.a4:hover #tag-Bretagne{
background-color: gray;
} */


/* .a1:hover .c{
background-color: gray;
} */
